
.left-side 
  = render 'devise/shared/side_bar'

.main-content 
  .main-content-top 
    .main-content-top-left{'data-id': @group.id}
      %p.main-content-top__group 
        = @group.name
      %ul.main-content-top__memberlist Member :
      %li.main-content-top__members
        - @users.each do |user|
          = user.name 
    .main-content-top-edit 
      = link_to "Edit", "/groups/#{@group.id}/edit"
    
  .main-content-middle
    .main-content-middle__message
      = render @messages

  .main-content-form
    = form_for [@group, @message] do |f|
      .new-message
        .new-message-box
          = f.text_field :content, class: 'new-message-box-type', placeholder: 'type a message'
          .new-message-box-type__image
            = f.label :image, class: '.new-message-box-type__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new-message-box-send'
