
.left-side 
  = render 'devise/shared/side_bar'


-# .left-side 
-#   .left-side-top
-#     .left-side-top__box
-#       %p.left-side-top__box__name name
-#       %ul.left-side-top__box__menu
-#         %li.left-side-top__box__newgroup 
-#           %i.fa.fa-edit
-#         %li.left-side-top__box__edituser
-#           %i.fa.fa-cog
-#   .left-side-main
-#     -# 下記は部分テンプレート使用可
-#     - current_user.groups.each do |group|
-#       .left-side-main__group     
-#         %p.left-side-main__group__name
-#           = group.name 
-#         %p.left-side-main__group__comment comment



.main-content 
  .main-content-top 
    .main-content-top-left
      %p.main-content-top__group 
        = @group.name
      %ul.main-content-top__memberlist Member :
      %li.main-content-top__members
        - @users.each do |user|
          = user.name 
    .main-content-top-edit 
      = link_to "Edit", "/groups/#{@group.id}/edit"
    


  .main-content-middle
    .main-content-middle__message
      -#下記は部分テンプレート使用可
      = render @messages


  -# .main-content-form
  -#   %form.new-message{method: "post"}
  -#     .new-message-box
  -#       %input.new-message-box-type{placeholder: "type a message", type: "text"}
  -#       %lageb.new-message-box-type__image
  -#         %i.fa.fa-image
  -#     %input.new-message-box-send{type: "submit", value: "Send"}


  .main-content-form
    = form_for [@group, @message] do |f|
      .new-message
        .new-message-box
          = f.text_field :content, class: 'new-message-box-type', placeholder: 'type a message'
          .new-message-box-type__image
            = f.label :image, class: '.new-message-box-type__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'new-message-box-send'


  -# .form
  -#   = form_for [@group, @message] do |f|
  -#     = f.text_field :content, class: 'form__message', placeholder: 'type a message'
  -#     .form__mask
  -#       = f.label :image, class: 'form__mask__image' do
  -#         = fa_icon 'picture-o', class: 'icon'
  -#         = f.file_field :image, class: 'hidden'
  -#     = f.submit 'Send', class: 'form__submit'